# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
backend/env/
*.sqlite3
*.log

# Django
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
/dist
/build

# Vite
.vite

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
Desktop.ini
